<% include partials/header %>

<h1 id="welcome">Welcome, <%=client.name%>!</h1>

<div class="ui container segment">
    <div class="ui first huge header" style="text-align: center;">My Dashboard</div>
    <a href="/clients/home/getaquote" class="ui inverted orange button" id="gaq">Get A Quote</a>
    <!-- <a href="/clients/home/quotehistory" class="ui inverted yellow button" id="gqh">Get Quote History</a> -->
    <div>
        <div class="ui horizontal segments">
            <div class="ui segment">
                <strong>Name: </strong><%=client.name%>
            </div>
            <div class="ui segment">
                <strong>Email: </strong><%=client.email%>
            </div>
            <div class="ui segment">
                <strong>Username: </strong><%=client.username%>
            </div>
        </div>
        <div class="ui horizontal segments">
            <div class="ui vertical segments">
                <a href="/clients/home/quotehistory" id="qhlink">Quote History</a>
                <%if(client.quoteHistory === undefined || client.quoteHistory == 0) {%>
                    <div class="ui segment">
                    <em>There is currently no quote history.</em>
                    </div>
                <%} else {%>
                    <%client.quoteHistory.forEach(quote => {%>
                        <div class="ui segment">
                            <strong>Order Number</strong>
                            <span class="quoteInfo">#<%=quote._id%></span>
                        </div>
                    <%});%>
                <%}%>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>