<% include partials/header %>

<h1 id="welcome">Welcome, <%=client.name%>!</h1>

<div class="ui container segment">
    <div class="ui first huge header" style="text-align: center;">My Dashboard</div>
    <a href="/clients/home/getaquote" class="ui inverted orange button" id="gaq">Get A Quote</a>
    <a href="/clients/home/quotehistory" class="ui inverted yellow button" id="gqh">Get Quote History</a>
    <div>
        <div class="ui horizontal segments">
            <div class="ui segment">
                <strong>Name: </strong><%=client.name%>
            </div>
            <div class="ui segment">
                <strong>Email: </strong><%=client.email%>
            </div>
            <div class="ui segment">
                <strong>Username: </strong><%=client.username%>
            </div>
        </div>
        <h2>Quote History</h2>
        <div class="ui segments">
            <%if(client.quoteHistory === undefined || client.quoteHistory == 0) {%>
                <div class="ui segment">
                  <em>There is currently no quote history.</em>
                </div>
            <%} else {%>
                <div class="ui segment">
                  <strong><%=client.name%></strong>
                </div>
            <%}%>
        </div>
    </div>
</div>

<% include partials/footer %>